@import "../styles/variables";

$row-height-default: 75px;

.EventsRow {
  margin: 0 -16px $spacer-card;
  padding: 0 16px;
  border-bottom: 1px solid $border-color;
  height: $row-height-default;

  //on smaller rows, hide little action buttons / tags
  &.simplified {
    .desc, .actions {
      display: none;
    }
  }

  .row {
    //margin: $spacer-card (-1* $spacer-card);
    flex-wrap: nowrap;
    height: 100%;
    align-items: stretch;

    .col {
      .row{
        margin-left: -10px;
        .col:last-of-type {
          margin-right: $spacer-card;
        }
      }
    }

    .one-half {
      max-height: 50%;
    }

    .one-third {
      max-height: 33.33%;
    }
  }

  .col {
    //margin: 0;
    padding: 0 $spacer-card $spacer-card $spacer-card;
    height: 100%;
  }
}