@import "../styles/variables";


.EventsRow {
  margin: 0 -16px $spacer-card;
  padding: 0 16px;
  border-bottom: 1px solid $border-color;

  .row {
    //margin: $spacer-card (-1* $spacer-card);
    flex-wrap: nowrap;
    height: 100%;
    align-items: stretch;
  }

  .col {
    //margin: 0;
    padding: 0 $spacer-card $spacer-card $spacer-card;
    height: 100%;
  }
}