//vars
@import "~bootstrap/scss/bootstrap";

//global
$bg: #f9fafb;
$font: inherit;
$font-size: 1em;
$rounded: 5px;
$spacer-card: .5em;

//colors
$green: #6DB872;
$red: #F46850;
$blue: #79B4FB;
$card-text: #fff;

$border-color: $gray-500;