//vars
@import "~bootstrap/scss/bootstrap";

//global
$bg: #f9fafb;
$font: inherit;
$font-size: 14px;
$rounded: 3px;
$spacer-card: .5em;

//colors
$green: #6DB872;
$red: #F46850;
$blue: #79B4FB;
$card-text: #fff;
$card-text-secondary: transparentize($card-text, .1);

$border-color: $gray-500;