@import "variables";

body {
  background: $bg;
}

.App {
  font: $font;
  background: $bg;
  height: 100%;
}

.schedule {
  //totally fake lines
  background: repeating-linear-gradient(to right, $border-color, $bg 1px, $bg 0, $bg 250px);
  margin: $spacer;
  padding: $spacer-card * 2;
  height: 100%;
  border: 1px solid $border-color;
  width: 2500px;
}

.navbar {
  background: $bg;
}